---
import FactureImp from "@/components/Facture.astro";
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link rel="shortcut icon" href="/Nails-top_icon.webp" type="image/x-icon">
</head>
<body>
    <main>
        <FactureImp />
    </main>
</body>
</html>

<style>
    main {
        font-family: 'Poppins', sans-serif;
        padding: 0 1.5rem;
        max-width: 1200px;
        margin-inline: auto;
        margin-top: 4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
    }
</style>