---
import OrdersTable from "@/components/OrdersTable.astro";
import AdminDashboard from "@/components/AdminDashboard.astro";
import Layout from "@/layouts/Layout.astro";

const role = Astro.cookies.get("user-role");
---

<Layout title="Nails-top Medellín - Empleados">
    <main class="container">
        <section>
            {
                role?.value === "admin" ? <AdminDashboard/> : <OrdersTable/>
            }
        </section>
    </main>
</Layout>

<style>
    section {
        width: 100%;
        margin-inline: auto;
        margin-bottom: 4rem;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        color: #333333;
        padding-inline: 2rem;
        min-height: calc(100dvh - 18.09rem);
    }
</style>
