---
import OrdersTable from "../../components/OrdersTable.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Nails-top Medellín - Empleados">
    <main class="container">
        <section>
            <OrdersTable/>
        </section>
    </main>
</Layout>

<style>
    main {
        color: #333333;
        padding-inline: 2rem;
    }

    section {
        width: 100%;
        margin-inline: auto;
        margin-bottom: 4rem;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
</style>
