---
import Layout from "@/layouts/Layout.astro";
import UserSignIn from "@/components/UserSignIn.astro";
---

<Layout title="Nails-top - Empleados">
    <main class="container">
        <section>
            <UserSignIn />
        </section>
    </main>
</Layout>

<style>
    main {
        color: #333333;
        padding: 2rem;
    }

    section {
        width: 100%;
        margin-inline: auto;
        margin: 4rem 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
</style>