---
import InputField from "../UI/InputField.astro";
import UserIcon from "@/icons/user.astro";
import PhoneIcon from "@/icons/phone.astro";
---

<section>
    <InputField id="name" placeholder="Nombre y apellido" type="text">
        <UserIcon slot="icon"/>
    </InputField>
    <InputField id="phone" placeholder="Numero de celular" type="text">
        <PhoneIcon slot="icon"/>
    </InputField>
</section>

<style>
    section {
        background-color: transparent;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>