---
import Layout from "@/layouts/Layout.astro";
import UserSignIn from "@/sections/Empleado/UserSignIn.astro";
---

<Layout title="Nails-top - Empleados">
    <main class="container">
        <section>
            <UserSignIn />
        </section>
    </main>
</Layout>

<style>
    main {
        min-height: calc(100dvh - 18.09rem);
    }

    .container {
        width: clamp(40%, 600px, 300px);
        margin: 2rem auto;
    }
</style>