---
import Layout from "@/layouts/Layout.astro";
import UserSignup from "@/sections/Empleado/UserSignup.astro";
---

<Layout title="Nails-top - Admin">
    <main class="container">
        <section>
            <UserSignup />
        </section>
    </main>
</Layout>

<style>
    main {
        min-height: calc(100dvh - 18.09rem);
    }

    .container {
        width: clamp(40%, 600px, 300px);
        margin: 2rem auto;
    }
</style>