---
import InputField from "@/components/UI/InputField.astro";

import UserIcon from "@/icons/user.astro";
import KeyIcon from "@/icons/key.astro";
---

<form class="section-container" action="" method="POST">
    <section class="section-header">
        <h2>Iniciar sesi칩n</h2>
    </section>
    <section class="section-body">
        <InputField id="email" placeholder="Correo electr칩nico" type="text">
            <UserIcon slot="icon"/>
        </InputField>
        <InputField id="password" placeholder="Contrase침a" type="password">
            <KeyIcon slot="icon"/>
        </InputField>
        <button class="btn">Enviar</button>
    </section>
</form>

<script is:inline>
    const btn = document.querySelector(".btn");
    const email = document.getElementById("email");
    const password = document.getElementById("password");

    let data = {};

    btn.addEventListener("click", (e) => {
        e.preventDefault();

        if (email.value === "" || password.value === "") {
            alert("Todos los campos son obligatorios");
            return;
        }

        data = {
            email: email.value,
            password: password.value,
        };

        fetch("/api/usersSignIn", {
            method: "POST",
            body: JSON.stringify(data)
        }).then((response) => {
            if (response.ok) {
                const userData = response.json();
                userData.then(data => {
                    localStorage.setItem("user-name", data.user.name);
                    localStorage.setItem("user-email", data.user.email);
                    localStorage.setItem("user-phone", data.user.phone);
                    localStorage.setItem("user-role", data.user.role);
                    cookieStore.set('user-name', data.user.name);
                    cookieStore.set('user-email', data.user.email);
                    cookieStore.set('user-phone', data.user.phone);
                    cookieStore.set('user-role', data.user.role);
                    sessionStorage.setItem("user-name", data.user.name);
                    sessionStorage.setItem("user-email", data.user.email);
                    sessionStorage.setItem("user-phone", data.user.phone);
                    sessionStorage.setItem("user-role", data.user.role);
                });
                alert("Inicio de sesi칩n exitoso");
                window.location.href = "/empleados/";
            } else {
                alert("Credenciales incorrectas");
            }
        })
    });
</script>

<style>
    .section-container {
        margin: 3.14rem 0;
    }

    .section-header h2 {
        text-align: center;
        width: 100%;
    }

    .section-body {
        text-align: center;
        position: relative;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    button {
        background: none;
        border: none;
        outline: none;
        color: #fff;
        font-weight: 500;
        font-size: 0.85rem;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn {
        background-color: #2ba18f;
        color: #fff;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
    }

    .btn:hover {
        background-color: #208175;
    }
</style>
