---
import InputField from "../../components/UI/InputField.astro";
import Button from "../../components/UI/Button.astro";

import UserIcon from "@/icons/user.astro";
import KeyIcon from "@/icons/key.astro";
import PhoneIcon from "@/icons/phone.astro";
---

<form class="section-container" action="" method="POST">
    <section class="section-header">
        <h2>Registrar</h2>
    </section>
    <section class="section-body">
        <InputField id="name" placeholder="Nombre" type="text">
            <UserIcon slot="icon"/>
        </InputField>
        <InputField id="email" placeholder="Correo" type="email">
            <UserIcon slot="icon"/>
        </InputField>
        <InputField id="phone" placeholder="Teléfono" type="tel">
            <PhoneIcon slot="icon"/>
        </InputField>
        <InputField id="password" placeholder="Contraseña" type="password">
            <KeyIcon slot="icon"/>
        </InputField>
        <InputField id="confirmPassword" placeholder="Confirma tu contraseña" type="password">
            <KeyIcon slot="icon"/>
        </InputField>
        <Button>Enviar</Button>
    </section>
</form>

<script is:inline>
    const button = document.querySelector("button");
    let data = {};

    button.addEventListener("click", (e) => {
        e.preventDefault();

        const name = document.getElementById("name");
        const email = document.getElementById("email");
        const phone = document.getElementById("phone");
        const password = document.getElementById("password");
        const confirmPassword = document.getElementById("confirmPassword");

        if (
            name.value === "" ||
            email.value === "" ||
            phone.value === "" ||
            password.value === "" ||
            confirmPassword.value === ""
        ) {
            alert("Todos los campos son obligatorios");
            return;
        }

        if (password.value !== confirmPassword.value) {
            alert("Las contraseñas no coinciden");
            return;
        }

        data = {
            name: name.value,
            role: "Employe",
            email: email.value,
            phone: phone.value,
            password: password.value,
        };

        fetch("/api/usersSignUp", {
            method: "POST",
            body: JSON.stringify(data),
        }).then((response) => {
            if (response.ok) {
                alert("Usuario creado");
                window.location.href = "/";
            } else {
                alert("Error al crear el usuario");
            }
        });
    });
</script>

<style>
    .section-header h2 {
        text-align: center;
        width: 100%;
    }

    .section-body {
        background-color: transparent;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
    }
</style>