---
import Layout from '../../layouts/Layout.astro'
import DateForm from '../../components/DateForm.astro'
---
<Layout title='Nails-top - Citas'>
    <main class="container">
        <DateForm />
    </main>
</Layout>

<style>
    main {
		color: #333333;
		padding: 2rem;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
</style>