---
import Button from "../../components/UI/Button.astro"
---

<section class="hero">
    <h1>Disfruta de un momento de belleza y relajación en nuestro spa de uñas</h1>
    
    <p>
        Ofrecemos una amplia gama de servicios para que tus manos y pies luzcan
        impecables.
    </p>

    <Button link="/usuarios">Reserva tu cita</Button>
</section>

<style>
    .hero {
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    .hero h1 {
        font-size: 36px;
        margin: 0 0 20px 0;
        color: #333;
    }

    .hero p {
        font-size: 16px;
        margin: 0;
        color: #fff;
        text-shadow: 0 0 6px #000;
    }
</style>
