<section>
    <aside>
        <ul class="menu">
            <li><a href="./Signup">Registrar empleados</a></li>
            <li><a href="./Orders">Ver ordenes</a></li>
            <li><a href="./Employes">ver empleados</a></li>
        </ul>
    </aside>

    <main-section>
        <article>
            <h2>Citas: 12</h2>
        </article>
        <article>
            <h2>Empleados: 12</h2>
        </article>
    </main-section>
</section>