<section>
    <aside>
        <ul class="menu">
            <li><a href="./Signup">Registrar empleados</a></li>
            <li><a href="#orders">Ver ordenes</a></li>
            <li><a href="#employes">ver empleados</a></li>
        </ul>
    </aside>

    
</section>