---
import Calendar from "./Calendar.astro";
import FormServices from "./FormServices.astro";
import SelectList from "./SelectList.astro";
import UserForm from "./UserForm.astro";
---

<form class="section-container" method="post">
    <section class="section-header">
        <h2>Ordena tu cita</h2>
    </section>
    <section class="section-body">
        <label for="manicurista">¿Con quién quieres la cita?</label>
        <SelectList id="manicurista" name="manicurista" placeholder="Selecciona">
            <option value="Laura">Laura</option>
            <option value="Daniela">Daniela</option>
            <option value="First">No tengo preferencia</option>
        </SelectList>
        <FormServices id="services"/>
        <Calendar/>
        <h4>Elige una hora</h4>
        <SelectList id="time" name="time" placeholder="Selecciona">
            <optgroup label="AM">
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
            </optgroup>
            <optgroup label="PM">
                <option value="13:00">1:00</option>
                <option value="14:00">2:00</option>
                <option value="15:00">3:00</option>
                <option value="16:00">4:00</option>
                <option value="17:00">5:00</option>
                <option value="18:00">6:00</option>
            </optgroup>
        </SelectList>
        <UserForm />
        <button class="btn">Agendar</button>
    </section>
</form>

<script is:inline>
    const btn = document.querySelector(".btn");
    const form = document.querySelector("form");
    const manicurista = document.getElementById("manicurista");
    const hour = document.getElementById("time");
    const name = document.getElementById("name");
    const phone = document.getElementById("phone");
    const checkBoxes = document.querySelectorAll("input[name=service]");
    btn.addEventListener("click", async(e) => {
        e.preventDefault()
        const atLeastOneChecked = [...checkBoxes].some(c => c.checked);
        const services = document.getElementsByName("service");
        if (manicurista.value === "") {
            alert("Selecciona un manicurista")
            window.location.href = "#top";
            return
        };
        if (!atLeastOneChecked) {
            alert(`Selecciona al menos un servicio`);
            window.location.href = "#services";
            return
        }
        if (hour.value === "") {
            alert("Selecciona una hora")
            hour.focus()
            return
        };
        if (name.value === "") {
            alert("Ingresa tu nombre")
            name.focus()
            return
        };
        if (phone.value === "") {
            alert("Ingresa tu celular")
            phone.focus()
            return
        }

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        const order = {
            services: [],
            date: '',
            time: '',
            name: '',
            phone: '',
            manicurista: '',
            status: 'Pendiente',
            total: 0
        };

        const objectServices = formData.getAll("service");
        const objectDate = formData.get("date");
        const objectTime = formData.get("time");
        const objectName = formData.get("name");
        const objectPhone = formData.get("phone");
        const objectManicurista = formData.get("manicurista");

        services.forEach(s  => {
            if (s.checked) {
                order.services.push({
                    id: s.id,
                    name: s.value,
                    price: Number(s.className)
                })
                order.total += Number(s.className)
            }
        });
        
        order.date = objectDate;
        order.time = objectTime;
        order.name = objectName;
        order.phone = objectPhone;
        order.manicurista = objectManicurista

        try {
            await fetch('/api/orders', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(order)
            });
            alert("Orden registrada");
            window.location.href = "/";
        } catch (error) {
            console.error(error);
        }
    });
</script>

<style>
    .section-body {
        text-align: center;
        position: relative;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    button {
        background: none;
        border: none;
        outline: none;
        color: #fff;
        font-weight: 500;
        font-size: 0.85rem;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn {
        background-color: #2ba18f;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        align-self: flex-end;
    }

    .btn:hover {
        background-color: #208175;
    }
</style>