---
import FacebookIcon from "../icons/facebook.astro";
import InstagramIcon from "../icons/instagram.astro";
import TiktokIcon from "../icons/tiktok.astro";
---

<footer id="contact">
    <div class="contact">
        <h2>Contacto</h2>
        <ul>
            <li><i class="fa fa-map-marker"></i>Cra 80a 112-56, Medellín, Colombia</li>
            <li><i class="fa fa-phone"></i> +57 304 6078274</li>
            <li><i class="fa fa-envelope"></i> 
            nails.top.nt@gmail.com</li>
        </ul>
    </div>
    <div class="social">
        <h2>Síguenos en nuestras redes sociales</h2>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=61558026033879" target="_blank" rel="noopener noreferrer" aria-label="facebook"><FacebookIcon /></a></li>
            <li><a href="https://www.instagram.com/nails.top.nt/" target="_blank" rel="noopener noreferrer" aria-label="instagram"><InstagramIcon /></a></li>
            <li><a href="https://www.tiktok.com/@nailstop.nt" target="_blank" rel="noopener noreferrer" aria-label="tiktok"><TiktokIcon /></a></li>
        </ul>
    </div>
</footer>

<style>
    footer {
        background-color: #333;
        color: #fff;
        padding: 2rem 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact h2 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }

    .contact ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .contact ul li {
        margin: 0 0 10px 0;
    }

    .contact ul li i {
        margin-right: 10px;
    }

    .social h2 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }

    .social ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .social ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .social ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    .social ul li a:hover {
        color: #208174;
    }

    /* Media queries */

    @media (max-width: 768px) {
        .contact,
        .social {
            float: none;
            text-align: center;
        }
    }
</style>
