---
import MapDotIcon from "@/icons/MapDot.astro";
import WhatsappIcon from "@/icons/whatsapp.astro";
import MailIcon from "@/icons/mail.astro";

import FacebookIcon from "../icons/facebook.astro";
import InstagramIcon from "../icons/instagram.astro";
import TiktokIcon from "../icons/tiktok.astro";
---

<footer id="contact">
    <div class="contact">
        <h2>Contacto</h2>
        <ul>
            <li><MapDotIcon /><a target="_blank" rel="noopener noreferrer" href="https://maps.app.goo.gl/R7NxRzBj28wTWaUh9"> Cra 80a 112-56, Medellín, Colombia</a></li>
            <li><WhatsappIcon /><a target="_blank" rel="noopener noreferrer" href="https://wa.me/573046078274"> +57 304 6078274</a></li>
            <li><MailIcon /><a target="_blank" rel="noopener noreferrer" href="mailto:nails.top.nt@gmail.com"> nails.top.nt@gmail.com</a></li>
        </ul>
    </div>
    <div class="social">
        <h2>Síguenos en nuestras redes sociales</h2>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=61558026033879" target="_blank" rel="noopener noreferrer" aria-label="facebook"><FacebookIcon /></a></li>
            <li><a href="https://www.instagram.com/nails.top.nt/" target="_blank" rel="noopener noreferrer" aria-label="instagram"><InstagramIcon /></a></li>
            <li><a href="https://www.tiktok.com/@nailstop.nt" target="_blank" rel="noopener noreferrer" aria-label="tiktok"><TiktokIcon /></a></li>
        </ul>
    </div>
</footer>

<style>
    footer {
        background-color: #333;
        color: #fff;
        padding: 2rem 2rem;
        position: relative;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact h2 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }

    .contact ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .contact ul li {
        margin: 0 0 10px 0;

        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 16px;
    }

    .contact ul li i {
        margin-right: 10px;
    }

    .contact ul li a:hover {
        border-bottom: 1px solid #fff;
    }

    .social h2 {
        font-size: 24px;
        margin: 0 0 20px 0;
    }

    .social ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .social ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .social ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    .social ul li a:hover {
        color: #208174;
    }

    /* Media queries */

    @media (max-width: 768px) {
        .contact,
        .social {
            float: none;
            text-align: center;
        }
    }
</style>
