---
const PRODUCTS = [
    { id: "0", name: 'Pedicura tradicional', price: 18000 },
    { id: "1", name: 'Manicura tradicional', price: 15000 },
    { id: "2", name: 'Pedicura semipermanente', price: 35000 },
    { id: "3", name: 'Manicura semipermanente', price: 35000 },
    { id: "4", name: 'Press on', price: 70000 },
    { id: "5", name: 'Forrado en acrilico', price: 45000 },
    { id: "6", name: 'Retiro de acrilico', price: 15000 },
    { id: "7", name: 'Retiro de semipermanentemente', price: 8000 },
    { id: "8", name: 'Pies y manos tradicional', price: 33000 },
    { id: "9", name: 'Pies y manos semipermanente', price: 70000 },
    { id: "10", name: 'Pedi spa', price: 30000 },
    { id: "11", name: 'Retoque Press on', price: 55000 },
    { id: "12", name: 'Base ruber', price: 45000 },
    { id: "13", name: 'Forrado con polygel', price: 50000 },
]

const { id } = Astro.props

import ServiceCheckbox from "./ServiceCheckbox.astro";
---
<section id={id}>
    <h4>Elige tus servicios</h4>
    <div class="servicesList">
        {
            PRODUCTS.map((product) => (
                <div class="services">
                    <ServiceCheckbox id={product.id} name='service' value={product.name} price={product.price} img="/BG.jpg"/>
                </div>
            ))
        }
        <div class="services">
            <ServiceCheckbox id="next" name="Proximamente" value="Proximamente" img="/BG.jpg" status="disabled"/>
        </div>
    </div>
</section>

<style>
    section {
        background-color: transparent;
        width: 100%;
    }

    .servicesList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
</style>