---
import { Image } from "astro:assets";
---
<header>
    <a class="container" href="/#top">
        <picture class="logo">
            <Image src="/Nails-top_icon.webp" alt="Logotipo del spa" width={48} height={48} loading={"eager"} />
            <h3>Nails-top</h3>
        </picture>
    </a>
    <nav>
        <a href="/#top">Inicio</a>
        <a href="/#services">Servicios</a>
        <a href="/#testimonials">Testimonios</a>
        <a href="/#contact">Contacto</a>
    </nav>
    <div class="content">
        <article class="menu">
            <a href="#login" aria-label="Iniciar sesi贸n">Iniciar sesi贸n</a>
            <a href="#logout" aria-label="Cerrar sesi贸n">Cerrar sesi贸n</a>
            <a href="/employe/" aria-label="Ir al panel">Ir al panel</a>
        </article>
    </div>
</header>

<script>
    const header: any = document.querySelector("header");
    const menu: any = document.querySelector(".content");

    header?.addEventListener("contextmenu", (e: any) => {
        e.preventDefault();
        menu.style.visibility = "visible";
    });

    document.addEventListener(
        "click",
        () => (menu.style.visibility = "hidden"),
    );
</script>

<style>
    header {
        --_animationStartsAfter: 20vh;
        --_animationDistance: 120px;
        --_surfaceColor: #fff5;

        padding: var(--_headerPadding, 0.1rem 3rem);
        margin-inline: auto;
        margin-block: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: var(--_headerWidth, auto);
        position: sticky;
        top: -5rem;
        z-index: 1000;
        animation: stickyNav linear forwards;

        @supports (animation-timeline: view()) {
            backdrop-filter: blur(0.15rem);

            animation-timeline: view();
            animation-range-start: calc(100vh + var(--_animationStartsAfter));
            animation-range-end: calc(
                100vh + var(--_animationStartsAfter) + var(--_animationDistance)
            );
        }
    }

    @keyframes stickyNav {
        0%,
        100% {
            --_logoDisplay: none;
            --_headerWidth: fit-content;
            --_headerPadding: 0.5rem 2rem;
            border-radius: 9999px;
            box-shadow: 0 0 0.2rem #4442;
        }

        100% {
            top: 1rem;
            background-color: var(--_surfaceColor);
            box-shadow: 0 0 0.75rem hsl(0, 0%, 0% / 0.3);
        }
    }

    .content {
        visibility: hidden;
        width: 150px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 13vh;
        left: 3vw;
        transition: scale 0.3s ease;
    }

    .content .menu {
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .content .menu li {
        list-style: none;
        width: 100%;
    }

    .menu a {
        width: 100%;
        padding: 10px;
        transition: background-color 0.3s ease;
        border-radius: 5px;

        display: flex;

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .logo {
        display: var(--_logoDisplay, flex);
        border-radius: 50%;
        align-items: center;
    }

    .logo img {
        max-height: 11dvh;
    }

    nav a {
        display: inline-block;
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        color: #333333;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #2ba18f;
    }

    @media (max-width: 768px) {
        header {
            --_headerPadding: 0.5rem;
            font-size: 12px;
        }

        .logo h3 {
            display: none;
        }
    }
</style>
