<header>
    <a class="container" href="/">
        <picture class="logo">
            <img src="/Nails-top_icon.webp" alt="Logotipo del spa" />
            <h3>Nails-top</h3>
        </picture>
        <nav>
            <ul>
                <li><a href="/#top">Inicio</a></li>
                <li><a href="/#services">Servicios</a></li>
                <li><a href="/#testimonials">Testimonios</a></li>
                <li><a href="/#contact">Contacto</a></li>
            </ul>
        </nav>
        <div class="content">
            <ul class="menu">
                <li><a href="#login">Iniciar sesión</a></li>
                <li><a href="#logout">Cerrar sesión</a></li>
                <li><a href="/employe/">Ir al panel</a></li>
            </ul>
        </div>
    </a>
</header>

<script>
    const header: any = document.querySelector("header");
    const menu: any = document.querySelector(".content");

    header?.addEventListener("contextmenu", (e: any) => {
        e.preventDefault();
        menu.style.visibility = "visible";
    });

    document.addEventListener(
        "click",
        () => (menu.style.visibility = "hidden"),
    );
</script>

<style>
    header {
        --_animationStartsAfter: 20vh;
        --_animationDistance: 120px;
        --_surfaceColor: #fff5;

        padding: var(--_headerPadding, .1rem 3rem);
        margin-inline: auto;
        margin-block: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;

        width: var(--_headerWidth, auto);
        position: sticky;
        top: -5rem;
        z-index: 1000;
        animation: stickyNav linear forwards;

        margin-bottom: 4rem;

        @supports (animation-timeline: view()) {
            backdrop-filter: blur(0.15rem);

            animation-timeline: view();
            animation-range-start: calc(100vh + var(--_animationStartsAfter));
            animation-range-end: calc(100vh + var(--_animationStartsAfter) + var(--_animationDistance));
        }
    }

    @keyframes stickyNav {
        0%, 100% {
            --_logoDisplay: none;
            --_headerWidth: fit-content;
            --_headerPadding: .5rem 2rem;
            border-radius: 9999px;
        }

        100% {
            top: 1rem;
            background-color: var(--_surfaceColor);
            box-shadow: 0 0 0.75rem hsl(0, 0%, 0% / 0.3);
        }
    }

    .content {
        visibility: hidden;
        width: 150px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 13vh;
        left: 3vw;
        transition: scale 0.3s ease;
    }

    .content .menu {
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .content .menu li {
        list-style: none;
        width: 100%;
    }

    .menu a {
        width: 100%;
        padding: 10px;
        transition: background-color 0.3s ease;
        border-radius: 5px;

        display: flex;

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .logo {
        display: var(--_logoDisplay, flex);
        border-radius: 50%;
        align-items: center;
    }

    .logo img {
        max-height: 11dvh;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        margin: 0 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #333333;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    nav ul li a:hover {
        color: #2ba18f;
    }

    @media (max-width: 768px) {
        header {
            --_headerPadding: 0.5rem;
            font-size: 12px;
        }

        .logo h3 {
            display: none;
        }
    }
</style>
