---
import { Image } from "astro:assets";
---

<header>
    <a class="container" href="/#top">
        <picture class="logo">
            <Image
                src="/Nails-top_icon.webp"
                alt="Logotipo del spa"
                width={48}
                height={48}
                loading={"eager"}
            />
            <h3>Nails-top</h3>
        </picture>
    </a>
    <nav>
        <a href="/#top">Inicio</a>
        <a href="/#services">Servicios</a>
        <a href="/#testimonials">Testimonios</a>
        <a href="/#contact">Contacto</a>
    </nav>
    <div class="content">
        <article class="menu">
            <a href="#logout" class="logout" id="#logout" aria-label="Cerrar sesi贸n">Cerrar sesi贸n</a>
            <a class="panel" id="panel" href="/employe/" aria-label="Ir al panel">Ir al panel</a>
            <a href="/employe/SignIn" class="login" id="#login" aria-label="Iniciar sesi贸n">Iniciar sesi贸n</a>
        </article>
    </div>
</header>

<script is:inline>
    const header = document.querySelector("header");
    const menu = document.querySelector(".content");
    const login = document.querySelector(".login");
    const logout = document.querySelector(".logout");
    const panel = document.querySelector(".panel");

    header?.addEventListener("contextmenu", (e) => {
        e.preventDefault();
        menu.style.visibility = "visible";
    });

    document.addEventListener(
        "click",
        () => (menu.style.visibility = "hidden"),
    );

    logout.addEventListener("click", () => {
        localStorage.removeItem("user-name");
        localStorage.removeItem("user-email");
        localStorage.removeItem("user-phone");
        cookieStore.delete("user-email");
        cookieStore.delete("user-name");
        cookieStore.delete("user-phone");
        sessionStorage.removeItem("user-email");
        sessionStorage.removeItem("user-name");
        sessionStorage.removeItem("user-phone");
        window.location.href = "/";
    });

    const checkSession = () => {

        if (!localStorage.getItem("user-name")) {
            login.style.display = "block";
            logout.style.display = "none";
            panel.style.display = "none";
            return;
        }

        if (localStorage.getItem("user-name")) {
            sessionStorage.setItem("user-name", localStorage.getItem("user-name"));
            sessionStorage.setItem("user-email", localStorage.getItem("user-email"));
            sessionStorage.setItem("user-phone", localStorage.getItem("user-phone"));
            cookieStore.set('user-name', localStorage.getItem("user-name"));
            cookieStore.set('user-email', localStorage.getItem("user-email"));
            cookieStore.set('user-phone', localStorage.getItem("user-phone"));
            login.style.display = "none";
            logout.style.display = "block";
            panel.style.display = "block";
            return;
        }
    }

    checkSession();
</script>

<style>
    header {
        --_animationStartsAfter: 10vh;
        --_animationDistance: 120px;
        --_surfaceColor: #fff5;

        padding: var(--_headerPadding, 0.1rem 6.5rem);
        margin-inline: auto;
        margin-block: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: var(--_headerWidth, auto);
        position: sticky;
        top: -5rem;
        z-index: 1000;
        animation: stickyNav linear forwards;

        @supports (animation-timeline: view()) {
            backdrop-filter: blur(0.15rem);

            animation-timeline: view();
            animation-range-start: calc(100vh + var(--_animationStartsAfter));
            animation-range-end: calc(
                100vh + var(--_animationStartsAfter) + var(--_animationDistance)
            );
        }
    }

    @keyframes stickyNav {
        0%,
        100% {
            --_logoDisplay: none;
            --_headerWidth: fit-content;
            --_headerPadding: 0.5rem 2rem;
            --_menuTop: 6.5vh;
            --_menuLeft: 1vh;
            border-radius: 9999px;
            box-shadow: 0 0 0.2rem #4442;
        }

        100% {
            top: 1rem;
            background-color: var(--_surfaceColor);
            box-shadow: 0 0 0.75rem hsl(0, 0%, 0% / 0.3);
        }
    }

    .content {
        visibility: hidden;
        width: 150px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: var(--_menuTop, 11vh);
        left: var(--_menuLeft, 15vh);
        transition: scale 0.3s ease;
    }

    .content .menu {
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .content .menu li {
        list-style: none;
        width: 100%;
    }

    .menu a {
        width: 100%;
        padding: 10px;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        cursor: pointer;

        display: flex;

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .logo {
        display: var(--_logoDisplay, flex);
        border-radius: 50%;
        align-items: center;
    }

    .logo img {
        max-height: 11dvh;
    }

    nav a {
        display: inline-block;
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        color: #333333;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #2ba18f;
        border-bottom: 1px solid #2ba18f;
    }

    @media (max-width: 768px) {
        header {
            --_headerPadding: 0.5rem;
            font-size: 12px;
        }

        .logo h3 {
            display: none;
        }
    }
</style>
