<header>
    <a href="/">
        <div class="container">
            <div class="logo">
                <img src="/Nails-top_logo.webp" alt="Logotipo del spa" />
            </div>
            <nav>
                <ul>
                    <li><a href="/#top">Inicio</a></li>
                    <li><a href="/#services">Servicios</a></li>
                    <li><a href="/#testimonials">Testimonios</a></li>
                    <li><a href="/#contact">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <ul class="menu">
                <li><a href="#login">Iniciar sesión</a></li>
                <li><a href="#logout">Cerrar sesión</a></li>
                <li><a href="/employe/">Ir al panel</a></li>
            </ul>
        </div>
    </a>
</header>

<script>
    const logo: any = document.querySelector('.logo');
    const menu: any = document.querySelector('.content');

    logo?.addEventListener('contextmenu', (e: any) => {
        e.preventDefault();
        menu.style.visibility = 'visible';
    })

    document.addEventListener('click', () => menu.style.visibility = 'hidden')
</script>

<style>
    header {
        position: sticky;
        top: 10px;
        z-index: 11;

        margin: 2.25rem auto;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        visibility: hidden;
        width: 150px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 21vh;
        left: 10vw;
        transition: scale 0.3s ease;
    }

    .content .menu {
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .content .menu li {
        list-style: none;
        width: 100%;
    }

    .menu a {
        width: 100%;
        padding: 10px;
        transition: background-color 0.3s ease;
        border-radius: 5px;

        display: flex;

        &:hover {
            background-color: #f3f3f3;
        }
    }

    .logo {
        background-color: #f3f3f3;
        border-radius: 50%;
        max-height: 20dvh;
    }

    .logo img {
        max-height: 20dvh;
    }

    nav {
        padding: .85rem;
        border-radius: 9999px;
        background-color: rgba(212, 212, 212, .4);
        backdrop-filter: blur(8px);
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        margin: 0 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #333333;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    nav ul li a:hover {
        color: #2ba18f;
    }

    @media (max-width: 768px) {
        nav {
            padding: .5rem;
            font-size: 12px;
        }
    }
</style>
