<section class="hero">
    <h1>Disfruta de un momento de belleza y relajación en nuestro spa de uñas</h1>
    
    <p>
        Ofrecemos una amplia gama de servicios para que tus manos y pies luzcan
        impecables.
    </p>
    <a href="/user/date">Reserva tu cita ahora</a>
</section>

<style>
    .hero {
        text-align: center;
    }

    .hero h1 {
        font-size: 36px;
        margin: 0 0 20px 0;
        color: #333;
    }

    .hero p {
        font-size: 16px;
        margin: 0;
        color: #fff;
        text-shadow: 0 0 6px #000;
    }

    .hero a {
        margin-top: 0.85rem;
        display: inline-block;
        padding: 10px 20px;
        background-color: #2ba18f;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        border-radius: 8px;

        transition: background-color 0.3s ease;
    }

    .hero a:hover {
        background-color: #208175;
    }
</style>
