---
const  { id, name, placeholder } = Astro.props
---

<select name={name} id={id} required>
    <option value="" disabled selected>{placeholder}</option>
    <slot />
</select>

<style>
    select {
        outline: none;
        padding: 10px;
        border-radius: 8px;
        border: 2px solid #ccc;
        font: inherit;
    }
</style>