<section id="services" class="section-container">
    <section class="section-header">
        <h2>Nuestros servicios</h2>
    </section>

    <section class="section-body">
        <ul>
            <li>
                <img src="/BG.jpg" alt="Servicio 1" />
                <h3>Manicura y pedicura</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li>
                <img src="/BG.jpg" alt="Servicio 2" />
                <h3>Uñas acrílicas y de gel</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
            <li>
                <img src="/BG.jpg" loading="lazy" alt="Servicio 3" />
                <h3>Diseño de uñas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
        </ul>
    </section>
</section>

<style>
    #services h2 {
        font-size: 1.4rem;
    }

    #services ul {
        list-style: none;
        margin: 0;
        padding: 10px;
    }

    #services ul li {
        display: inline-block;
        margin: 0 20px 20px 0;
        width: 33.33%;
        text-align: center;
        border: 1px solid #d3d3d3;
        padding: 20px;
    }

    #services ul li img {
        max-width: 100px;
        margin: 0 0 20px 0;
    }

    #services ul li h3 {
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    #services ul li p {
        font-size: 16px;
        margin: 0;
    }

    @media (max-width: 768px) {
        #services ul li {
            width: 100%;
        }
    }
</style>
