<section id="testimonials" class="section-container">
    <section class="section-header">
        <h2>Testimonios</h2>
    </section>

    <section class="section-body">
        <ul>
            <li>
                <blockquote>
                    "El servicio en este spa es excelente. Las chicas son muy
                    amables y profesionales."
                </blockquote>
                <p>- Ana García</p>
            </li>
            <li>
                <blockquote>
                    "Estoy muy contenta con los resultados de mi manicura. ¡Mis uñas
                    se ven fabulosas!"
                </blockquote>
                <p>- María Pérez</p>
            </li>
        </ul>
    </section>
</section>

<style>
    #testimonials {
        background-color: rgba(211, 211, 211, 0.6);
    }

    #testimonials h2 {
        font-size: 1.4rem;
    }

    #testimonials ul {
        list-style: none;
        margin: 0;
        padding: 10px;
    }

    #testimonials ul li {
        margin: 0 20px 20px 0;
        border: 1px solid #d3d3d3;
        padding: 20px;
    }

    #testimonials ul li blockquote {
        font-style: italic;
        margin: 0 0 20px 0;
    }

    #testimonials ul li p {
        font-size: 16px;
        margin: 0;
    }

    @media (max-width: 768px) {
        #testimonials ul li {
            width: 100%;
        }
    }
</style>
