---
import Layout from "@/layouts/DashboardLayout.astro";
import AdminEmployes from "@/sections/Empleado/AdminEmployes.astro";
---

<Layout title="Admin">
    <main>
        <h2>Administrar empleados</h2>
        <AdminEmployes />
    </main>
</Layout>

<style>
    h2 {
        font-weight: bold;
        font-size: 1.275rem;
    }
</style>