---
import OrdersTable from "@/components/Empleados/OrdersTable.astro";
import Layout from "@/layouts/DashboardLayout.astro";
import AdminDashboard from "@/components/Empleados/Dashboard.astro";

const role = Astro.cookies.get("user-role");
---

<Layout title="Nails-top Medellín - Empleados">
    <main class="container">
        <section>
            {
                role?.value === "admin" ? <AdminDashboard/> : <OrdersTable/>
            }
        </section>
    </main>
</Layout>

<style>
    section {
        width: 100%;
        min-height: calc(100dvh - 10rem - 4rem);
        height: 100%;
    }
    
    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        color: #333;
    }
</style>
