---
import Layout from "@/layouts/DashboardLayout.astro";
import Orders from "@/sections/Empleado/AdminOrders.astro"
---

<Layout title="Admin">
    <main>
        <h2>Administrar citas</h2>
        <Orders />
    </main>
</Layout>

<style>
    h2 {
        font-weight: bold;
        font-size: 1.275rem;
    }
</style>