---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/Nails-top_icon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <div class="bg1"></div> -->
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	:root {
		--color-50: #f2fbf9;
		--color-100: #d2f5eb;
		--color-200: #a6e9d9;
		--color-300: #71d7c2;
		--color-400: #40b5a1;
		--color-500: #2ba18f;
		--color-600: #208175;
		--color-700: #1d685f;
		--color-800: #1c534e;
		--color-900: #1b4641;
		--color-950: #0a2927;
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}

	h1, h2, h3, h4 {
		text-wrap: balance;
	}

	img {
		display: block;
		max-width: 100%;
	}

	html {
		font-family: 'Montserrat', sans-serif;
		scroll-behavior: smooth;
	}

	input, textarea, button, select {
		font: inherit;
	}

	body {
		margin: 0;
		padding: 0;
		min-height: 100dvh;
		height: 100%;
		background: rgb(166,233,217);
		background: linear-gradient(90deg, var(--color-100) 30%, var(--color-400) 90%);
		position: relative;

		/* background-image: url(/BG2.jpg);
		background-size: cover; */
	}

	ol, ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	p {
		text-wrap: pretty;
	}

	.section-container {
        background-color: #fff5;
        backdrop-filter: blur(7px);
        box-shadow: 0 .4rem .8rem #0005;
        border-radius: .8rem;

		overflow: hidden;
	}

	.section-header {
        width: 100%;
        height: 10%;
        background-color: #fff4;
        padding: .2rem 1rem;
        font-size: 1.2rem;
		text-align: center;

        display: flex;
        align-items: center;
    }

	.section-body {
        background-color: #fffb;

        margin: .8rem auto;
        border-radius: .6rem;
	}

	.bg1 {
        background-color: #fff;
        background-image: url(/BG.jpg);
        background-size: cover;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
    }

	.bg2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>