---
const { id, type, placeholder } = Astro.props
---
<div class="input-container">
    <span><slot name="icon" /></span>
    <input id={id} name={id} placeholder={placeholder} type={type} />
</div>

<style>
    .input-container {
        position: relative;
        max-width: fit-content;
        width: 100%;
    }

    span {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(calc(-50% - 2px));
        bottom: 0;
        color: #999;

        pointer-events: none;
    }

    input {
        max-width: fit-content;
        width: 100%;
        outline-color: var(--accent);
        padding: 10px 10px 10px 35px;
        border-radius: 9999px;
        border: 1px solid #ccc;
    }
</style>